*{
    box-sizing: border-box;
}
body{
    font-family: arial;
    display: flex;
    flex-direction: column;
      margin: 0px;
}
header{
    background-color:rgb(53, 78, 4);
    display: flex;
     align-items: center;
     padding: 10px 0;

}
header a{
    color: white;
}
a{
    text-decoration: none;
}
header ul{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    
}
#logo{
    margin: 0 auto; 
    font-size: 30px;   
    align-items: center;
}

#menu li{
padding: 10px;
}
#social-links li{
    padding: 10px;
}

#main{
    display: flex;
}
aside{
    flex: 0px 0px 60vw;
    background: beige;
    padding: 10px;
    width: 300px;
}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul a{
    color:rgb(53, 78, 4);
    display: block;
    padding: 10px;
    border-bottom: 1px solid gray;
}
aside img{
    width: 250px;
    height: 200px;
}
article{
    padding: 20px;
}
.service-container{
       display: flex;
       justify-content: space-between;
    
}
.service-box{
    border: 1px solid #eee;
    padding: 10px;
    flex-basis: 32%;
    max-width: 370px;
     margin-bottom: 15px;
     display:flex;
     flex-direction:column;
}
.service-box img{
    width: 300px;
   
}
.service-box h3{
    margin: 5px 0 10px;
}
.service-box p{
    margin: 0 0 10px;
}

.Call-to-action{
    align-self:flex-start ;
    margin-top:auto;
}
.Call-to-action a{
    background:gray ;
    color:#fff;
    border: 2px solid transparent;
    padding: 8px 13px;
         display: block;
    
}
.Call-to-action a:hover{
    background:transparent ;
    color:gray;
    border: 2px solid gray;
}
footer{
    background: rgb(53, 78, 4);
    color: white;
    text-align: center;
    padding: 15px 15px;
}